{% extends "base.html" %}


{% block head %}
  <style>
    #loading {
      position: absolute;
      left: 50%;
      top: 50%;
    }

    .group-tick line {
      stroke: #000;
    }

    .ribbons {
      fill-opacity: 0.66;
    }

    text {
      fill: #ffffff;
      font: 20px sans-serif;
      pointer-events: none;
    }

    svg {
      margin-left: 100px;
    }
  </style>
{% endblock %}


{% block title %}

Chord Diagram

{% endblock %}


{% block body %}

  <div class='container'>
    <div>
      <a class="carousel-control left" href="/bubblechart" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
        <div>
          <div class="page-header">
            <h1>Word Co-Occurrence
            <br/>
            <small>Based on a subset of common words in descriptions of US-based Crunchbase companies.</small></h1>
          </div>
          <div id='chorddiagram'>
            <div id='loading'>
              <img src='../static/images/ajax-loader.gif' />
            </div>
            <!-- <svg width="900" height="900"></svg> -->
          </div>
        </div>
      <a class="carousel-control right" href="/" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script src='static/chorddiagram.js'></script>

{% endblock %}
